<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a Team Lead at
      <a class="underline-link" href="https://agiledefense.com/about/" target="_blank">Agile Defense</a> building things with some awesome people.
    </p>

    <p>
      I am a Results-driven Software Engineering Leader with over eight years of experience delivering scalable, high-quality full-stack solutions and effectively 
      leading agile engineering teams. Proven success mentoring and developing engineers, driving strategic architectural decisions, and implementing process 
      improvements that enhance performance and productivity. Passionate about fostering collaborative team cultures, aligning technical execution with business goals, 
      and committed to continuous personal and organizational growth in engineering management.
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably watching a new fantasy show, building a lego,
      or hanging out with my four fur babies.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
