<header class="intro">
  <h1 class="heading">Hello! I'm <span class="name">Justin Winslow</span></h1>
  <span class="divider"></span>
  <div class="intro__section">
    <img class="profilePicture" src="{{site.baseurl}}/img/profilePicture.jpg" alt="headshot">
    <h2 class = "text">I am a highly experienced software engineer with a strong track record in <strong>full-stack development</strong>, 
      optimizing existing software, and leading efficient project execution.
    </h2>
  </div>

  <h3 class="contact">
    <span>Lets connect! </span>
    <span>
      <a href="mailto:justinwinslow55@gmail.com" target="_blank" class="highlight-link">justinwinslow55@gmail.com</a>
    </span>
  </h3>
</header>
