<header class="intro">
  <h1 class="heading">Hello! I'm <span class="name">Justin Winslow</span></h1>
  <span class="divider"></span>
  <div class="intro__section">
    <img class="profilePicture" src="{{site.baseurl}}/img/profilePicture.jpg" alt="headshot">
    <h2 class = "text">I'm an innovative and results-driven software engineer 
      with six years of experience in full stack development. Proven track record of both optimizing existing software (including enhancements 
      in performance and testing) and building new solutions from the ground up. Experienced in leading development objectives to completion with 
      efficiency and quality.
    </h2>
  </div>

  <h3 class="contact">
    <span>Lets connect! </span>
    <span>
      <a href="mailto:justinwinslow55@gmail.com" target="_blank" class="highlight-link">justinwinslow55@gmail.com</a>
    </span>
  </h3>
</header>
