<section class="section other-projects">
  <div class="section__title">Other Projects</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div>
        {% for skill in project.skills %}
        <span class="project__skill">{{skill}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
